@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

/** container **/
.container{
    padding-left: iren;
    padding-right: iren;
}

.container-centered{
    max-width: 600px;
    margin: auto;
}