@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Roboto+Condensed:ital,wght@0,400;1,700&display=swap');

:root{
    --primary-color: #EF07AD;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

/**container**/
.container{
    padding: 0rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

/**links**/

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color)
}